<p id=”notice”><%= flash[:notice] %></p>
<h1> Hello <%= User.find(session[:user_id]).email %> </h1>

<div class='posts-body'>

<%= link_to new_post_path do %>
  New post
<% end %>
<article class='posts'>
<% @posts.each do |post| %>
  <% @user = User.find(post.users_id) %>
  <article class="post" id='<%= post.id %>'>
    <header>
      <p class='post-message'> <%= post.message %> </p>
    </header>
    <footer class='post-footer'>
      <span>&#x1F9E1 0<span>
      <p>
        posted at <%= post.created_at %>
        <time datetime='<%= post.created_at %>' ></time>
        by <a href='/users/<%= @user.id%>'><%= @user.email %>.</a>
      </p>
    </footer>
    <%
=begin%>
 <%= link_to "Add Comment", new_user_post_comment_path(user_id: @current_user.id, post_id: post.id) %> 
<%
=end%>
    <%= render 'comments/form', :locals => { @post: post} %>
    <%
=begin%>
 <article class='comments'>
      <% @comments.each do |comment| %>
      <% @user = User.find(comment.users_id) %>
      <article class="comment" id='<%= comment.id %>'>
        <header>
          <p> <%= comment.message %> </p>
        </header>
        <footer class='comment-footer'>
          <span>&#x1F9E1 0<span>
          <p>
            posted at <%= post.created_at %>
            <time datetime='<%= post.created_at %>' ></time>
            by <a href='/users/<%= @user.id%>'><%= @user.email %>.</a>
          </p>
        </footer>
        <% end %>
    </article> 
<%
=end%>
  </article>
<% end %>
</article>
</div>


